.pagination{
	float: none;
	text-align: center;
	width: 100%;
	background-color: $white;
	li{
		padding: 0;
		float: none;
		display: inline-block;
		@media screen and (max-width: 767px){
			display: block;
		}
		span, a{
			border: none;
			color: $white;
			font-weight: 700;
			background-color: $cor-secundaria;
			&:hover{
				background-color: $cor-secundaria;
				color: $cor-principal;
			}
			&:focus{
				background-color: $cor-secundaria;
				color: $cor-principal;
			}
			&.current{
				color: $cor-principal;
			}
		}
	}
}